spring:
  datasource:
    url: jdbc:mysql://localhost:3306/caretaker_agency
    username: root
    password: root1234
  jpa:
    hibernate.ddl-auto: update
    generate-ddl: true
    show-sql: true
  security:
    user:
      name: user
      password: user
server:
  port: 8081

